.menu_container{
    max-width: 10rem;
    width: 100%;
    height: 100%;
}

::ng-deep .p-dialog .p-dialog-header{
    display: none;
}

::ng-deep .p-dialog .p-dialog-content{
    padding: 1.5rem;
}
::ng-deep .p-dialog.p-confirm-dialog .p-confirm-dialog-message{
    font-size: 1.2rem;
}


::ng-deep .p-dialog .p-dialog-content,
::ng-deep .p-dialog .p-dialog-footer{
    background-color: var(--bg-color);
}

::ng-deep .p-dialog .p-dialog-footer .p-confirm-dialog-accept{
    background-color: #002858;
}