.resetPassword_container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.719), rgba(0, 0, 0, 0.712)), url("../../../assets/Unibe2.jpg");
    min-height: 100vh;
    max-height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resetPassword_container ::ng-deep .p-password {
    width: 100%;
    & .p-inputtext {
        width: 100%;
        padding: 0.6rem;
    }
}

.reset__header .fa-lock,
.reset__header .fa-envelope {
    font-size: 3rem;
}

.restored .pi-check-circle {
    font-size: 3rem;
    color: rgb(132, 211, 14);
}

.buttons ::ng-deep .p-button-text .p-button-label {
    font-size: 0.9rem;
    display: flex;
}

.buttons ::ng-deep .send .p-button-label {
    flex: none;
}

.buttons .send {
    display: flex;
    justify-content: center;
}
