<div class="resetPassword_container grid grid-nogutter col-12 p-0">
    <p-card class="sm:col-8 md:col-7 lg:col-6 xl:col-4 p-0">
        <ng-template pTemplate="content">
            <ng-container *ngIf="!passwordRestored else restoreSuccessfully">
                <div class="flex flex-column text-center reset__header">
                    <i class="fa-solid fa-lock"></i>
                    <h2 class="mb-2 mt-2">Restablecer contraseña</h2>
                    <small class="text-sm mb-4">Ingresa tu nueva contraseña</small>
                </div>
                <form #newPasswordForm="ngForm">
                    <div class="field flex flex-column">
                        <label class="mb-2 font-bold">Contraseña</label>
                        <p-password [toggleMask]="true" [feedback]="true" promptLabel="Escribe tu contraseña"
                            [ngClass]="{'ng-dirty': newPasswordForm.controls['password']?.errors?.required && newPasswordForm.controls['password']?.dirty }"
                            name="password" styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                            [weakLabel]="passwordMeter.weakLabel" [mediumLabel]="passwordMeter.mediumLabel"
                            [strongLabel]="passwordMeter.strongLabel" [(ngModel)]="dto.password" [required]="true">
                            <ng-template pTemplate="footer">
                                <p-divider></p-divider>
                                <p class="mt-2">Sugerencias</p>
                                <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                    <li>Al menos una letra minúscula</li>
                                    <li>Al menos una letra mayúscula</li>
                                    <li>Al menos un número</li>
                                    <li>Mínimo 8 caracteres</li>
                                </ul>
                            </ng-template>
                        </p-password>
                    </div>
                    <div class="field col-12 p-0 flex flex-column">
                        <label class="mb-2 font-bold">Confirmar contraseña</label>
                        <p-password [toggleMask]="true" [feedback]="false" promptLabel="Escribe tu contraseña"
                            [ngClass]="{'ng-dirty': newPasswordForm.controls['confirmPassword']?.errors?.required && newPasswordForm.controls['confirmPassword']?.dirty }"
                            name="confirmPassword" styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                            [(ngModel)]="dto.confirmPassword" [required]="true">
                        </p-password>
                    </div>
                    <div class="flex flex-column w-full buttons">
                        <button pButton pRipple [icon]="restoringPassword ? 'pi pi-spin pi-spinner' : ''"
                            (click)="resetPassword()" class="send mt-3"
                            [label]="!restoringPassword ? 'Cambiar contraseña' : 'Guardando...'">
                        </button>
                        <button pButton type="button" routerLink="/auth" label="Volver a inicio de sesión"
                            icon="pi pi-arrow-left" class="send p-button-text mt-2"></button>
                    </div>
                </form>
            </ng-container>
            <ng-template #restoreSuccessfully>
                <div class="flex flex-column text-center restored">
                    <i class="pi pi-check-circle"></i>
                    <h2 class="mb-2 mt-2">Contraseña restablecida</h2>
                    <p>Tu contraseña ha sido actualizada con éxito.</p>
                    <p class="mt-2 mb-4">Da click en continuar para iniciar sesión.</p>

                </div>
                <div class="flex justify-content-center">
                    <button pButton pRipple type="button" (click)="navigateToHomeLogin()" label="Continuar"
                        class="col-7"></button>
                </div>
            </ng-template>
        </ng-template>
    </p-card>
</div>