<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Carta de asignación dirigida al estudiante</title>
    <link rel="stylesheet" th:href="@{../pdf-resources/css/tutor-designation/student-letter.css}"/>
</head>
<body>
<div class="container">
    <div class="header">
        <table class="table">
            <thead>
            <tr>
                <td rowspan="2" class="unibeLogo">
                    <img src="../pdf-resources/images/logo.png" class="logo"/>
                </td>
                <td class="title">
                    <h4>UNIVERSIDAD IBEROAMERICANA DEL ECUADOR</h4>
                </td>
                <td rowspan="2" class="formNumber">
                    <h4>FORMULARIO No. UNIBE-VRA-DA-<span th:text="${#dates.year(actualDate)}"></span>-012-F</h4>
                </td>
            </tr>
            <tr>
                <td class="title">
                    <h4>DESIGNACIÓN DE TUTOR (A) DIRIGIDA AL ESTUDIANTE</h4>
                </td>
            </tr>
            </thead>
        </table>
    </div>
    <div align="right">
        <p class="normal_text">Quito, D.M, <span
                th:text="${(#dates.format(designation.date, 'dd/MM/yyyy')) }"></span>
        </p>
    </div>
    <div class="content_text">
        <p>Estudiante: <span th:text="${studentCompleteName}"></span></p>
        <p>Facultad: <span th:text="${faculty}"></span>.</p>
        <p>Carrera: <span th:text="${career}"></span>.</p>
        <p>De nuestras consideraciones:</p>
        <p>
            Se le informa que una vez evaluada la propuesta de tema presentada por usted se le ha asignado al docente:
            <span th:text="${designation.teacher.lastName + ' ' + designation.teacher.secondLastName + ' ' + designation.teacher.name }"></span>
            como tutor (a) del trabajo titulado: <span th:text="${topicName}"></span>, ccon quien deberá ponerse en
            contacto para proceder con el desarrollo del mismo.
            <br>
            Se le informa que le corresponde una (1) hora semanal para las tutorías, por lo que, usted conjuntamente con
            su tutor (a) deberán llevar el control del cumplimiento de horas de tutorías en el formulario
            correspondiente, el mismo tiene que ser presentado a Secretaría de Administración y Registro al finalizar el
            proceso ya que es un requisito para la titulación que debe reposar en su portafolio académico.
            <br>
            Considerando que según el Artículo No. 46 del Reglamento de titulación, entre sus responsabilidades se
            encuentran:
        </p>
        <ul style="list-style-type: lower-alpha; font-size: small">
            <li>
                Asistir a las tutorías acordadas con el Director(a) del Trabajo de Integración Curricular o de la
                Propuesta de Investigación en el día y horario programado.
            </li>
            <li>
                Entregar periódicamente los avances del Documento del Trabajo de Integración Curricular o de la
                Propuesta de Investigación, según las fechas acordadas con el (la) Tutor(a) del mismo.
            </li>
            <li>
                Aplicar las correcciones y enmiendas realizadas por el (la) Tutor(a) del Trabajo de Integración
                Curricular o de la Propuesta de Investigación.
            </li>
            <li>
                Cumplir a tiempo con los procedimientos técnicos y administrativos correspondientes a los procesos de
                titulación.
            </li>
            <li>
                Garantizar la veracidad del contenido del Trabajo de Integración Curricular o de la Propuesta de
                Investigación.
            </li>
            <li>
                Aplicar al Trabajo de Integración Curricular o Propuesta de Investigación, los fundamentos técnicos, y
                metodológicos pertinentes al tema de estudio.
            </li>
            <li>
                Aplicar las normas vigentes para la elaboración del Trabajo de Integración Curricular o Propuesta de
                Investigación
            </li>
        </ul>
        <div class="signs">
            <table class="tg">
                <thead>
                <tr>
                    <th>_______________________________________</th>
                    <th>_______________________________________</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <span>
                            Director (a) de carrera
                            <br>
                            Secretario (a) del comité
                        </span>
                    </td>
                    <td>
                        <span>
                            Decano (a) de Facultad
                            <br>
                            Presidente del comité
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
</html>