.form__container {
    max-width: 100vw;
    min-height: 92.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__container ::ng-deep .p-card-header {
    text-align: center;   
}

.form__inputs .articulation {
    display: flex;
    flex-direction: column;
    & ::ng-deep .p-dropdown{
        width: 100%;
    }
}

.form__inputs .buttons{
    display: flex;
    justify-content: center;   
  
}
.form__container ::ng-deep.p-card {
    background: #ffffff;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    width: 35rem;
    padding:1.5rem;
    @media only screen and (max-width: 600px) {
        width: 100%;
        padding:1rem;
        margin-top: 0.4rem;
    }
}