body {
    font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 15px;
}

@page {
    size: A4;
}

.container{
    padding: 1rem 22rem 0 22rem;
}

.logo {
   width: 80px;
   height: 80px;
}

.header{
    display: -webkit-flex;
    webkit-justify-content: center;
    justify-content: center;
    max-width: 100vw;
}

.header .table{
   border-collapse: collapse;
   border-spacing: 0;
   width: 100%;
}

.header .table td{
    border-color: black;
    border-style: solid;
    border-width: 2px;
    padding: 2px 2px;
    text-align: center;
}

.header .table .title{
    width: 60%;
}

.header .table .unibeLogo,
.header .table .formNumber{
    width: 20%;
}


.content_text{
    line-height: 1.5;
    text-align: justify;

}

.memorandum {
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
}

.table_content{
    display: -webkit-flex;
    webkit-justify-content: center;
    justify-content: center;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 15px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
    width: 33.33%;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 15px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-0pky {
    text-align: center;
    vertical-align: center;
    font-weight: bold;
}

.tg-sendTo{
    text-align: center;
    vertical-align: center;
}

.tg .tg-0lax {
    text-align: left;
    vertical-align: center;
}

.studentAndTopic{
     text-align: center;
     vertical-align: center;
     height: 100%;
}

.signs{
   width: 100%;
   margin-top: 45px;
}

.footer__sign{
     width:100%
}

.footer__sign .th{
    width: 50%;
    overflow: hidden;
}